.main-tables-container {
    width: 930px;
    margin: 0 auto;
}

#cards.is-flipped {
    transform: rotateY(0deg);
    transition: none;
}

.main-tables-container .main-currency-table, .main-commission-table {
    right: 50%;
    margin: 0 50px;
}

.main-tables-container .main-commission-table {
    transform: rotateY(0deg);
    left: 50%;
    width: 230px;
}

.main-exchange-container .button-right, .main-exchange-container .button-left {
    background-image: none;
}

.product-cards--container {
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;
}

.plans-container--slider {
    display: inline-block;
    overflow-x: hidden;
}

.plans-container--card {
    position: relative;
    display: inline-block;
    scroll-snap-align: center;
    margin: 50px 5px 0;
    transition: none;
}

#radio-1:checked~.plans #plans-1,
#radio-2:checked~.plans #plans-2,
#radio-3:checked~.plans #plans-3,
#radio-1:checked~.plans #plans-2,
#radio-2:checked~.plans #plans-3,
#radio-3:checked~.plans #plans-1,
#radio-1:checked~.plans #plans-3,
#radio-2:checked~.plans #plans-1,
#radio-3:checked~.plans #plans-2   {
    transform: none;
    opacity: 1;
    z-index: 1;
}
